[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pylint = "*"
requests-mock = "*"

[packages]
six = "*"
requests = "*"
aws-lambda-powertools = "*"
honeycomb-beeline = "*"

[requires]
python_version = "3.8"
